---
layout: archive
---

{{ content }}

<h2 style="clear:both">My Work</h2>

{% if paginator %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'grid' %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Web-Based Applications"
    }}</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains "Product Management"%}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Design and Branding" }}
</h3>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains 'Design and Branding' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div> 


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Side Gigs" }}
</h3>

<h4>3D and Motion Graphics</h4>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.categories contains 'work' and post.tags contains '3D and Motion Graphics' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h4>Tutorials</h4>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% if post.highlight_home and post.categories contains 'work' and post.tags contains 'Tutorials' %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}
    {% endfor %}
</div>

<h4>Painting and Writing</h4>
<div class="entries-{{ entries_layout }}">
    {% for post in posts %}
        {% if post.highlight_home and (post.categories contains 'article' or post.categories contains 'artwork' or post.categories contains 'Games') %}
            {% include archive-single.html type=entries_layout %}

        {% endif %}
    {% endfor %}
</div>



{% include paginator.html %}